.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

out/

# Gradle:
.idea/gradle.xml
.idea/libraries
build.gradle
gradle/*
gradlew
gradlew.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
